.slider-container {/* 定义轮播图容器的样式 */
    position: relative;
    width: 100%;
    height: 400px; /* 定义容器的高度 */
    overflow: hidden; /* 隐藏容器外的部分内容 */

}

.slider {/* 定义幻灯片容器的样式 */
    display: flex; /* 设置容器为 flex 布局 */
    width: 100%; /* 幻灯片容器的宽度为 100% */
    height: 100%; /* 幻灯片容器的高度为 100% */
    transition: transform 0.5s ease; /* 添加动画效果 */}

.slide {/* 定义幻灯片的样式 */
    position: relative; /* 设置幻灯片的位置为相对定位 */
    flex: 1 0 100%; /* 设置幻灯片的 flex 属性 */}

.slide img {/* 定义幻灯片图片的样式 */
    width: 100%; /* 图片的宽度为 100% */
    height: 100%; /* 图片的高度为 100% */
    object-fit: cover; /* 调整图片大小以适应容器 */}

.caption {/* 定义幻灯片标题的样式 */
    position: absolute; /* 设置标题的位置为绝对定位 */
    bottom: 0; /* 将标题放在幻灯片的底部 */
    left: 0; /* 将标题放在幻灯片的左侧 */
    right: 0; /* 将标题放在幻灯片的右侧 */
    padding: 16px; /* 添加一些内边距 */
    color: #fff; /* 设置标题的颜色为白色 */
    background-color: rgba(0, 0, 0, 0.7); /* 设置标题背景颜色为半透明黑色 */}

.arrows {/* 定义箭头容器的样式 */
    position: absolute; /* 设置箭头容器的位置为绝对定位 */
    top: 50%; /* 将箭头容器置于幻灯片容器的中间 */
    transform: translateY(-50%); /* 垂直居中 */
    display: flex; /* 将箭头容器设置为 flex 布局 */
    justify-content: space-between; /* 将箭头放在容器的两侧 */
    width: 100%; /* 箭头容器的宽度为 100% */
    height: 32px; /* 箭头容器的高度为 32px */}

.arrow {/* 定义箭头的样式 */
    display: flex; /* 让箭头内的内容垂直居中对齐 */
    justify-content: center; /* 让箭头内的内容水平居中对齐 */
    align-items: center; /* 让箭头内的内容垂直居中对齐 */
    width: 32px; /* 箭头按钮的宽度 */
    height: 32px; /* 箭头按钮的高度 */
    background-color: #fff; /* 箭头按钮的背景色为白色 */
    opacity: 0.7; /* 初始状态下箭头按钮的透明度为 0.7 */
    cursor: pointer; /* 鼠标悬浮在箭头按钮上时鼠标的样式为手型 */}

.arrow:hover { opacity: 1; /* 鼠标悬浮在箭头按钮上时透明度为 1 */}


