*{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}
.top{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: darkslategray;
    position: relative;
    z-index: 100;
    top: 0;
}
.top img{
    position: relative;
    top: 12px;
}
.login{
    float: right;
    margin-left: 840px;
    padding-top: 10px;

}
.login a{
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 18px;
}

#nav {
    background-color: #333;
    overflow: hidden;
}

/* 设置导航栏中菜单选项的样式 */
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    float: left;
    padding-left: 200px;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* 设置高亮效果 */
#nav li a.active {
    background-color: #4CAF50;
}

.dropdown{
    float: left;
    overflow: hidden;
}
.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropbtn:hover{
    color: red;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: left;

}
#myDropdown a{
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    padding:12px 16px;
}
#myDropdown a:hover{
    color: lightblue;
}
.show{
    display: block;
}

.middle{
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-grow: 1;
    margin-top: 5px;
    margin-bottom: 5px;
}
.dropbtn{
    cursor: pointer;
    font-size: 15px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
}
.left{
    background-color: #f3f3f3;
    width: 85%;
    height: 100%;
    border: 1px;
    margin-right: 5px;
}

.seat-position-middle{
    display: grid;
    margin: 10px;
    grid-template-columns:1fr 1fr;
    grid-gap: 20px;
}
.one{
    background-color: #dddddd;
    border: cornflowerblue;
}
.two{
    background-color: #dddddd;
}
.three{
    background-color: #dddddd;
}
.four{
    background-color: #dddddd;
}
.five{
    background-color: #dddddd;
}
.six{
    background-color: #dddddd;
}
.item{
    text-align: center;
}
.button{
    margin: 5px;
    font-size: 14px;
    color: #fff;
    height: 30px;
    padding: 0 15px;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    line-height: 1.2;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.2s;
    outline: none;
    position: relative;
}
.button:hover,.button:focus{
    background-color: blue;
}

.sidebar{
    display: flex;
}
.right{
    display: block;
    background-color: white;
    width: calc(100% - 85%);
    height:100%;
    float: right;
    position: fixed;
    box-sizing: border-box;

}
.inform-box1-title{
    margin-top: 10px;
    padding-bottom: 15px;
    background-color: cadetblue;
    text-align: center;

}
.inform-box1-next{
    margin-top: 3px;
    height: 100px;
    text-align: center;
    background-color: lightgoldenrodyellow;
}
.inform-box1-next a{
    text-decoration: underline;
    font-size: 7px;
    color: #000;
    text-align: left;
}
.inform-box1-title img{
    position: relative;
    top: 10px;
}

.bottom{
    height: 20px;
    width: 100%;
    background-color: #dddddd;
    text-align: center;
}



